<div>
    {{#each responseFromApi}}
        {{> beerpartial this}}
        <p>{{this.food_pairing}}</p>
        <p>{{this.brewers_tips}}</p>
    {{/each}}
    {{!-- {{> beerpartial beer}}
    <p>{{beer.food_pairing}}</p>
    <p>{{beer.brewers_tips}}</p> --}}
</div>